.chart-selector-title {
    margin-top: 0;
}

.chart-selector-data-info {
    margin-bottom: 15px;
    font-size: 0.9em;
    padding: 10px;
    border-radius: 5px;
}

.chart-selector-data-info p {
    margin: 5px 0;
}

.chart-selector-data-info .stat-note {
    font-style: italic;
    color: #666;
    margin-top: 8px;
}

.chart-selector-groups-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.chart-selector-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chart-selector-scrollable-content {
    max-height: 75vh;
    overflow-y: auto;
    padding-right: 10px;
}

.chart-selector-scrollable-content::-webkit-scrollbar {
    width: 6px;
}
.chart-selector-scrollable-content::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    border-radius: 3px;
}
.chart-selector-group-item {
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.chart-selector-group-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.group-date-title {
    margin: 0 0 10px 0;
    font-size: 1.1em;
    color: #333;
}

.chart-selector-buttons-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20px;
}

.chart-selector-button {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    font-weight: normal;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    text-align: left;
}

.chart-selector-button.active {
    border: 1px solid lime;
    background-color: rgba(50, 205, 50, 0.2);
    font-weight: bold;
}

.selected-icon {
    margin-left: 8px;
}

.record-sublist {
    margin-left: 10px;
}

.record-list-item.active {
    border: 1px solid lime;
    background-color: rgba(50, 205, 50, 0.2);
    font-weight: bold;
}

.record-list-item.active::before {
    background-color: lime; /* Заливка кружочка зеленым */
    border-color: lime; /* Зеленый ободок */
}

.record-part {
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 8px; /* Отступ между частями */
    margin-bottom: 5px; /* Отступ между строками, если переносится */
    align-items: center;
}

.record-part:hover {
    background-color: #f0f0f0;
}

.record-part.active-green {
    background-color: #e6ffe6; /* Светло-зелёный фон */
    border-color: #4CAF50; /* Зелёная граница */
    color: #1a4d1a; /* Тёмно-зелёный текст для контраста */
    font-weight: bold;
}

.record-part.active-green:hover {
    background-color: #d9f9d9; /* Чуть темнее зелёный при наведении */
}